html,body{
    height:100%;
    width:100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}
.wrapper{
    width:100%;
}
#header{

    height:120px;
}
#header{
    
    outline:2px dashed white;
    position:relative;
    background:white;
    z-index:55;
    
}
/*..................*/
#weather-pic{
    ;
    height:300px;
    width:70%;
    margin:0 auto;
    position:relative;
   
}
#weather-pic > span{

    display:block;
    text-indent: -9999px;
    position:absolute;
     z-index:6;
   
    

    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 0.2s;
    -webkit-animation-timing-function: cubic-bezier(.61,1.81,.36,.47);
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeDown;
    -moz-animation-duration: 0.4;
    -moz-animation-delay: 0.2s;
    -moz-animation-timing-function: cubic-bezier(.61,1.81,.36,.47);
    -moz-animation-fill-mode: both;
    -moz-animation-name: fadeDown;
    animation-duration: 0.4s;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(.61,1.81,.36,.47);
    animation-fill-mode: both;
    animation-name: fadeDown;
     

    
   
}
/* cloud */
#weather-pic span:nth-of-type(1){ 
  background:url("../img/cloud.png") top center no-repeat;
  width:78px;
  height:225px;
  
  left:15%;
  top:-225px;
  
  

}
/* snow */
#weather-pic span:nth-of-type(2){ 
  background: url("../img/snow.png") top center no-repeat;
  width:56px;
  height:137px;
  left:26%;
  top:-137px;
 
 
}
/* sun */
#weather-pic span:nth-of-type(3){ 
  background: url("../img/sun.png") top center no-repeat;
  width:94px;
  height:210px;
   left:34%;
   top:-210px;
  
  
 }
/* moon */
#weather-pic span:nth-of-type(4){ 
  background: url("../img/moon.png") top center no-repeat;
  width:108px;
  height:212px;
   left:73%;
  top:-212px;

}
/*..................*/


#header > img{
    position:relative;
    left:50px;
    top:24px;

}

#header > div a img{
    position:absolute;
    right:40px;
    top:30px;
    height:63px;
   
    max-width:186px;
    line-height:63px;
}

#showcase1{
    width:100%;
    background:url("img/showcase1.jpg") no-repeat center;
    height:670px;
    position:relative;
}
#showcase2{
    width:100%;
    outline:2px dashed white;
    padding-top:52px;
    
    
    text-align:center;
    margin-bottom:30px;
}
#showcase2 > img{
    width:80%;
    max-width: 599px;
    opacity: 0;
}
#showcase3 > img{
    width:80%;
    max-width: 686px;
}
h1{
    display:block;
    color:#ad6f39;
    margin:0 auto;
    font-size:160%;
    margin-bottom:20px;
    width:80%;
    text-align:left;
    padding-left:30px;
    
}
#showcase2 > p,#showcase3 > p,#showcase4 ul{
    width:80%;
    margin:0 auto;
    color:#717171;
    line-height:150%;
    font-size:120%;
    text-align:left;
    padding-left:30px;
    padding-bottom:60px;
}

#showcase3{
    padding-top:50px;
    text-align: center;
    opacity: 0;
 
}
#showcase4{
    text-align:center;
    padding-top:60px;
}
#showcase4 > img{
    width:64%;
    max-width:312px;
    
    position:relative;
    left:-200px;
    opacity: 0;
}
#showcase4 ul{
    
    text-align:left;
    width:87%;
   
    position:relative;
    margin:0 auto;
    margin-top:50px;
    left:500px;
    opacity: 0;
    
}
#showcase4 ul li{
    padding-left:19%;
    position:relative;
    margin-top:1px;
    font-size:18px;
    width:70%;
    
}
#showcase4 ul li img{
    margin-right:20px;
}
#showcase4 ul li:before{
    content:'';
    background:url("img/check.png") no-repeat;
    width:400px;
    height:400px;
    position:relative;
    right:70px;
    top:7px;
}
#showcase4 h1{
    margin-bottom:50px;
}
#footer{
    clear:both;
    text-align:center;
    margin-top:40px;
    color:gray;
    padding-bottom:30px;
    font-size:12px;
}
@media screen and (max-width: 985px) {
   
   #weather-pic span:nth-of-type(2){ 
     left:30%;
   }
   
   #weather-pic span:nth-of-type(3){ 
     left:40%;
   }

}

@media screen and (max-width: 713px) {
   
   #weather-pic span:nth-of-type(2){ 
     left:36%;
   }
   
   #weather-pic span:nth-of-type(3){ 
     left:48%;
   }

}

@media screen and (max-width: 612px) {
   
   #header > div a img{
    position:absolute;
    right:40px;
    top:35px;
    width:148px;
    height:auto;    
   }

}
@media screen and (max-width: 529px) {
 
  #header > div a img{
    position:absolute;
    right:40px;
    top:35px;
    width:148px;
    height:auto;
    display:none;    
   }
   #header{
       
       text-align:center;
       margin:0 auto;
      
   }
   #header > img{
       position:static;
       margin-top:26px;
   }
   
   
   

#showcase4 ul li{
    padding-left:6%;
    position:relative;
    margin-top:1px;
    font-size:14px;
    width:90%;
    
}
#showcase4 ul li img{
    margin-right:10px;
    width:23px;
}
#showcase4 ul li:before{
    content:'';
    background:url("img/check.png") no-repeat;
    width:400px;
    height:400px;
    position:relative;
    right:70px;
    top:7px;
}

h1{
    font-size:22px;
}
#showcase2 > p,#showcase3 > p,#showcase4 ul{
    
    font-size:15px;
}
 #weather-pic span:nth-of-type(1){ 
     left:-10%;
   }

  #weather-pic span:nth-of-type(2){ 
     left:16%;
   }
   
   #weather-pic span:nth-of-type(3){ 
     left:28%;
   }


}




/*fade show*/

@-webkit-keyframes fadeDown {
    0% {
       opacity: 0;
    }

    100% {
        opacity: 1;
        top:0px;
    }
}

@-moz-keyframes fadeDown {
    0% {
       opacity: 0;
    }

    100% {
        opacity: 1;
        top:0px;
    }
}

@-o-keyframes fadeDown{
    0% {
       opacity: 0;
    }

    100% {
        opacity: 1;
        top:0px;
    }
}

@keyframes fadeDown {
    0% {
       opacity: 0;
    }

    100% {
        opacity: 1;
        top:0px;
    }
}