<div id="overlay">
  <div id="loading">
    <img src="img/loading_logo.gif" /><br/>
    <div class="loadding-yeah">
      <div id="circleG">
        <div id="circleG_1" class="circleG">
        </div>
        <div id="circleG_2" class="circleG">
        </div>
        <div id="circleG_3" class="circleG">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">

  <div class="showBlock" id="top">

    <header id="top-header">
      <a href="/"><h1>Q weather</h1></a>
      <div id="weather-pic">
        <span>overcast day</span>
        <span>snow day</span>
        <span>sun</span>
        <span>moon</span>
        <a href="https://itunes.apple.com/app/q-weather/id702178986?ls=1&mt=8"><img src="img/appstore.png" /></a>
      </div>

    </header>

    <div id="show-case">
      <div class="qelement"><img src="img/green0.png"></div>
      <div class="qelement"><img src="img/green1.png"></div>
      <div class="qelement"><img src="img/green2.png"></div>
      <div class="qelement"><img src="img/green3.png"></div>
      <div class="qelement"><img src="img/green4.png"></div>
      <div class="qelement"><img src="img/iphone5.png"></div>
      <div class="qelement"><img src="img/bridge.png"></div>
      <div class="qelement"><img src="img/mushroom.png"></div>


    </div>
    <div id="top-text">
      Say goodbye to all the conventional weather forecasts.<br/>
      Q Weather brings you a brand-new weather experience and multiple funs.
    </div>


  </div>

  <section>
    <div class="showBlock" id="the2">

      <div id="section1">
        <div id="pens">
          <span>1</span>
          <span>2</span>
          <span>3</span>
        </div>
        <div id="section1-text">
          <h1>Amazing Silly Putty Art</h1>
          <p>You weather forecast will be so lovely vivid with the scenes of the silly putty characters,which is how all kinds of weather conditions wisely show up!</p>
        </div>
        <div id="example-case">
          <div class="eelement"><img src="img/p3.png"></div>
          <div class="eelement"><img src="img/p2.png"></div>
          <div class="eelement"><img src="img/p1.png"></div>
          <div class="eelement"><img src="img/p0.png"></div>
        </div>
      </div>
    </div>

    <div class="showBlock" id="the3">
      <div id="section2">
        <div id="section2-text">
          <h1>You will experience the unusual<br/>but wonderful thinking of our every idea</h1>
          <p>In each scene,tides hide there,enjoy the fun with your Apple products through all sorts of artful ways.</p>

        </div>
        <div id="section2-case">
          <div class="eelement"><img src="img/m0.png"></div>
          <div class="eelement"><img src="img/m1.png"></div>
          <div class="eelement"><img src="img/m6.png"></div>
          <div class="eelement"><img src="img/m5.png"></div>
          <div class="eelement"><img src="img/m2.png"></div>
          <div class="eelement"><img src="img/m3.png"></div>
          <div class="eelement"><img src="img/m4.png"></div>
        </div>
      </div>

    </div>

    <div class="showBlock" id="the4">
      <div id="section3">
        <div id="section3-text">
          <h1>At the same time,Q Weather provides professional<br/> and detailed meteorological data</h1>
        </div>
        <div id="section3-list">
          <ul>
            <li>The accurate weather forecast</li>
            <li>Including wind direction and wind speed<br/>details,humidity,UV,etc</li>
            <li>The 5 days of the weather forecasts</li>
            <li>Fahrenheit/mile to Celsius/kilometer,<br/>Celsius/kilometer to Fahrenheit/mile,you<br/> can easily switch between them</li>
            <li>You can add more cities to your favorite list</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="footer">
      © 2013 Sumi Interactive All rights reserved.
    </div>
  </section>
</div>

